* {
  color: white;
}
.poster {
  height: 400px;
  width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}
.main {
  width: 90%;
  margin: auto;
}
.loading {
  height: 20px;
  width: 70px;
  animation-name: load;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  border-radius: 2rem;
}
@keyframes load {
  from {
    background-color: purple;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    background-color: gold;
  }
}
